In [5]:
# This is a python code formatting extention called Black
%load_ext nb_black

# Libraries to read and manipulate data
import pandas as pd
import numpy as np

# Libraries for data visualization
import matplotlib.pyplot as plt

import glob
import os

%matplotlib inline
import seaborn as sns

plt.style.use("ggplot")
sns.set_style("darkgrid")
sns.set()

# Libraries to split data, impute missing values
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# Libraries to import decision tree classifier and different ensemble classifiers
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import GridSearchCV

# Libtune to tune model, get different metric scores
from sklearn import metrics
from sklearn.metrics import (
    confusion_matrix,
    plot_confusion_matrix,
    classification_report,
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    roc_auc_score,
)

# supress numerical display to 2 points of precision in scientific notation
pd.set_option("display.float_format", lambda x: "%.2f" % x)

# remove the limit from the number of displayed columns and rows, so that the entire dataframe is visible and not truncated
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)
# pd.set_option('display.max_rows', None)from sklearn.tree import DecisionTreeClassifier # to build a classification tree

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [12]:
# setting the path for joining mulitple files
file_path = "C:/Users/steve/Documents/SQL_and_Databases/SQL_Database_Modelling_and_Architecture_Final_Project/Data/"
files = os.path.join(file_path, "new_wheels_sales_qtr*.csv")
files = glob.glob(files)

print("Resultant CSV after joining all CSV files at a particular location...")
# joining files with concat and read csv
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(
    f"There are {df.shape[0]} vehicle data objects and {df.shape[1]} attributes/features in the new wheels dataset."
)

Resultant CSV after joining all CSV files at a particular location...
There are 1000 vehicle data objects and 31 attributes/features in the new wheels dataset.

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.shape

(1000, 31)

In [15]:
df.columns

Index(['shipper_id', 'shipper_name', 'shipper_contact_details', 'product_id',
       'vehicle_maker', 'vehicle_model', 'vehicle_color', 'vehicle_model_year',
       'vehicle_price', 'quantity', 'discount', 'customer_id', 'customer_name',
       'gender', 'job_title', 'phone_number', 'email_address', 'city',
       'country', 'state', 'customer_address', 'order_date', 'order_id',
       'ship_date', 'ship_mode', 'shipping', 'postal_code', 'credit_card_type',
       'credit_card_number', 'customer_feedback', 'quarter_number'],
      dtype='object')

In [16]:
df.dtypes.value_counts()

object     22
int64       6
float64     3
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   shipper_id               1000 non-null   int64
 1   shipper_name             1000 non-null   object
 2   shipper_contact_details  1000 non-null   object
 3   product_id               1000 non-null   int64
 4   vehicle_maker            1000 non-null   object
 5   vehicle_model            1000 non-null   object
 6   vehicle_color            1000 non-null   object
 7   vehicle_model_year       1000 non-null   int64
 8   vehicle_price            1000 non-null   float64
 9   quantity                 1000 non-null   int64
 10  discount                 1000 non-null   float64
 11  customer_id              1000 non-null   object
 12  customer_name            1000 non-null   object
 13  gender                   1000 non-null   object
 14  job_title                1000 non-null   object
 15  phone_number             1000 non-null   object
 16  email_address            1000 non-null   object
 17  city                     1000 non-null   object
 18  country                  1000 non-null   object
 19  state                    1000 non-null   object
 20  customer_address         1000 non-null   object
 21  order_date               1000 non-null   object
 22  order_id                 1000 non-null   object
 23  ship_date                1000 non-null   object
 24  ship_mode                1000 non-null   object
 25  shipping                 1000 non-null   object
 26  postal_code              1000 non-null   int64
 27  credit_card_type         1000 non-null   object
 28  credit_card_number       1000 non-null   float64
 29  customer_feedback        1000 non-null   object
 30  quarter_number           1000 non-null   int64
dtypes: float64(3), int64(6), object(22)
memory usage: 242.3+ KB

In [18]:
df.duplicated().sum()

0

In [55]:
df.nunique()

shipper_id                 1000
shipper_name                362
shipper_contact_details    1000
product_id                 1000
vehicle_maker                54
vehicle_model               504
vehicle_color                19
vehicle_model_year           47
vehicle_price              1000
quantity                      2
discount                     41
customer_id                 994
customer_name               994
gender                        2
job_title                   182
phone_number                994
email_address               994
city                        299
country                       1
state                        49
customer_address            994
order_date                  222
order_id                   1000
ship_date                   270
ship_mode                     4
shipping                      2
postal_code                 774
credit_card_type             16
credit_card_number          350
customer_feedback             5
quarter_number                4
dtype: int64

In [23]:
# list to convert the categorical features to 'category'
cat_col = [
    "shipper_id",
    "shipper_name",
    "shipper_contact_details",
    "product_id",
    "vehicle_maker",
    "vehicle_model",
    "vehicle_color",
    "vehicle_model_year",
    "customer_id",
    "customer_name",
    "gender",
    "job_title",
    "phone_number",
    "email_address",
    "city",
    "country",
    "state",
    "customer_address",
    "order_date",
    "order_id",
    "ship_date",
    "ship_mode",
    "shipping",
    "postal_code",
    "credit_card_type",
    "credit_card_number",
    "customer_feedback",
    "quarter_number",
]

In [25]:
# Printing number of count of each unique value in each column
for column in cat_col:
    print(df[column].value_counts())
    display("-" * 50)

1617    1
2585    1
2088    1
3509    1
2792    1
       ..
2804    1
2782    1
2783    1
1103    1
3813    1
Name: shipper_id, Length: 1000, dtype: int64

'--------------------------------------------------'

Kazu           8
Feedbug        7
Quatz          7
Jayo           7
Innotype       7
              ..
Browsezoom     1
Fiveclub       1
Shufflebeat    1
DabZ           1
Dabjam         1
Name: shipper_name, Length: 362, dtype: int64

'--------------------------------------------------'

125-29-5865    1
280-59-1168    1
193-66-4084    1
545-33-6916    1
562-17-2875    1
              ..
311-27-8922    1
795-17-6148    1
839-41-5843    1
214-73-6591    1
438-17-7753    1
Name: shipper_contact_details, Length: 1000, dtype: int64

'--------------------------------------------------'

4383    1
4764    1
4728    1
4792    1
3976    1
       ..
4985    1
4368    1
4149    1
3760    1
4288    1
Name: product_id, Length: 1000, dtype: int64

'--------------------------------------------------'

Chevrolet        83
Ford             63
Toyota           52
Dodge            50
Pontiac          50
Mercedes-Benz    45
Mazda            43
Mitsubishi       41
Buick            40
GMC              37
Volkswagen       35
Nissan           31
BMW              28
Volvo            26
Audi             25
Subaru           22
Suzuki           22
Honda            19
Lexus            18
Isuzu            18
Cadillac         18
Kia              16
Lincoln          16
Infiniti         16
Mercury          15
Chrysler         14
Hyundai          14
Jaguar           13
Oldsmobile       12
Saab             11
Acura            11
Jeep             11
Land Rover       10
Plymouth          8
Lamborghini       8
Porsche           7
Maserati          6
Bentley           6
Ferrari           6
Lotus             4
Geo               4
Eagle             4
Scion             3
Morgan            3
Maybach           3
Aston Martin      2
Rolls-Royce       2
MINI              2
Saturn            2
Ram               1
MG                1
Daewoo            1
Austin            1
Citro�n           1
Name: vehicle_maker, dtype: int64

'--------------------------------------------------'

Grand Prix       9
Century          9
Camaro           9
C70              8
Suburban 1500    8
                ..
Viper RT/10      1
STS              1
CTS-V            1
M                1
Prowler          1
Name: vehicle_model, Length: 504, dtype: int64

'--------------------------------------------------'

Yellow        63
Goldenrod     59
Turquoise     59
Purple        58
Khaki         57
Red           57
Blue          57
Indigo        55
Aquamarine    55
Crimson       52
Pink          52
Puce          51
Violet        48
Mauv          48
Green         48
Maroon        47
Fuscia        46
Orange        45
Teal          43
Name: vehicle_color, dtype: int64

'--------------------------------------------------'

2009    64
2007    56
2004    49
2011    48
2010    45
2012    45
2008    43
2006    43
2002    42
1996    40
1999    39
1993    38
1997    37
2005    36
2003    36
1994    35
2000    29
1992    29
2001    28
1995    27
1998    26
1985    22
1990    21
1989    19
1987    16
1991    16
1988    13
2013    11
1986    10
1984     9
1970     3
1977     3
1969     3
1967     3
1962     2
1964     2
1983     2
1965     1
1980     1
1968     1
1971     1
1953     1
1978     1
1979     1
1981     1
1976     1
1982     1
Name: vehicle_model_year, dtype: int64

'--------------------------------------------------'

36987-3061    2
53603-1006    2
76237-153     2
43269-780     2
47593-359     2
             ..
0781-5613     1
15127-311     1
15127-831     1
52125-338     1
49283-511     1
Name: customer_id, Length: 994, dtype: int64

'--------------------------------------------------'

Standford Goodhall       2
Gonzales Shoard          2
Cindy Gertray            2
Armstrong Cripin         2
Laurette Carn            2
                        ..
Gerry Yitzhakov          1
Allan Lipgens            1
Gwendolyn MacConneely    1
Creight Munnery          1
Reba Sillis              1
Name: customer_name, Length: 994, dtype: int64

'--------------------------------------------------'

Female    501
Male      499
Name: gender, dtype: int64

'--------------------------------------------------'

Cost Accountant                         15
Compensation Analyst                    15
Project Manager                         15
VP Accounting                           14
GIS Technical Architect                 14
Senior Editor                           14
Business Systems Development Analyst    13
Payment Adjustment Coordinator          13
Analyst Programmer                      12
Recruiter                               12
Information Systems Manager             12
Teacher                                 12
Research Associate                      12
Internal Auditor                        11
Assistant Media Planner                 11
Associate Professor                     11
Dental Hygienist                        11
Structural Analysis Engineer            11
Tax Accountant                          10
Director of Sales                       10
Financial Advisor                       10
Graphic Designer                        10
Recruiting Manager                      10
Sales Associate                         10
Chief Design Engineer                   10
Assistant Manager                       10
Junior Executive                        10
Geological Engineer                     10
Chemical Engineer                       10
Financial Analyst                       10
Software Consultant                     10
Editor                                   9
Civil Engineer                           9
Speech Pathologist                       9
Account Coordinator                      9
Executive Secretary                      9
Senior Developer                         9
Actuary                                  9
Food Chemist                             9
Human Resources Manager                  9
Physical Therapy Assistant               9
Staff Scientist                          9
Quality Engineer                         9
Structural Engineer                      9
Clinical Specialist                      8
Environmental Specialist                 8
Senior Financial Analyst                 8
VP Marketing                             8
Senior Cost Accountant                   8
Design Engineer                          8
Administrative Officer                   8
VP Sales                                 8
Mechanical Systems Engineer              8
Professor                                8
VP Product Management                    7
Operator                                 7
Marketing Assistant                      7
Product Engineer                         7
Pharmacist                               7
Occupational Therapist                   7
Registered Nurse                         7
Legal Assistant                          7
Web Designer IV                          7
Desktop Support Technician               7
Research Nurse                           7
Paralegal                                6
Technical Writer                         6
VP Quality Control                       6
Assistant Professor                      6
Nuclear Power Engineer                   6
Help Desk Technician                     6
Account Executive                        6
Safety Technician IV                     6
Developer IV                             6
Environmental Tech                       6
Data Coordiator                          6
Nurse Practicioner                       5
Social Worker                            5
Budget/Accounting Analyst I              5
Senior Quality Engineer                  5
Geologist II                             5
Database Administrator III               5
Community Outreach Specialist            5
Automation Specialist IV                 5
Budget/Accounting Analyst IV             5
Account Representative I                 5
Database Administrator IV                5
Analog Circuit Design manager            5
Web Developer II                         5
Librarian                                5
Help Desk Operator                       5
Account Representative II                5
Programmer Analyst IV                    4
Accountant II                            4
Programmer I                             4
Electrical Engineer                      4
Geologist I                              4
Nurse                                    4
Senior Sales Associate                   4
Sales Representative                     4
Marketing Manager                        4
Engineer IV                              4
Media Manager III                        4
Biostatistician II                       4
General Manager                          4
Web Designer III                         4
Media Manager II                         4
Account Representative III               4
Accountant IV                            4
Accounting Assistant II                  4
Quality Control Specialist               3
Staff Accountant I                       3
Web Designer I                           3
Computer Systems Analyst I               3
Computer Systems Analyst III             3
Accountant I                             3
Programmer Analyst III                   3
Human Resources Assistant IV             3
Systems Administrator III                3
Budget/Accounting Analyst III            3
Human Resources Assistant I              3
Systems Administrator I                  3
Engineer III                             3
Database Administrator II                3
Computer Systems Analyst II              3
Accounting Assistant IV                  3
Biostatistician IV                       3
Staff Accountant III                     3
Statistician IV                          3
Administrative Assistant III             3
Research Assistant I                     3
Office Assistant I                       3
Software Engineer III                    3
Software Engineer I                      3
Programmer II                            2
Geologist IV                             2
Programmer Analyst II                    2
Biostatistician III                      2
Office Assistant IV                      2
Media Manager IV                         2
Accounting Assistant I                   2
Account Representative IV                2
Staff Accountant IV                      2
Administrative Assistant II              2
Research Assistant IV                    2
Software Test Engineer IV                2
Automation Specialist I                  2
Programmer IV                            2
Accountant III                           2
Office Assistant II                      2
Systems Administrator IV                 2
Safety Technician I                      2
Web Developer III                        2
Statistician III                         2
Research Assistant II                    2
Developer I                              2
Web Designer II                          2
Administrative Assistant IV              2
Safety Technician II                     2
Health Coach II                          2
Web Developer IV                         2
Engineer I                               2
Software Test Engineer II                2
Statistician I                           2
Programmer III                           1
Programmer Analyst I                     1
Biostatistician I                        1
Health Coach III                         1
Office Assistant III                     1
Research Assistant III                   1
Geologist III                            1
Automation Specialist II                 1
Engineer II                              1
Systems Administrator II                 1
Automation Specialist III                1
Human Resources Assistant II             1
Software Engineer IV                     1
Database Administrator I                 1
Statistician II                          1
Software Test Engineer III               1
Computer Systems Analyst IV              1
Health Coach I                           1
Name: job_title, dtype: int64

'--------------------------------------------------'

240-408-7636    2
915-824-4121    2
404-979-2302    2
574-485-6534    2
334-396-2155    2
               ..
510-191-3865    1
305-741-4255    1
702-863-4129    1
505-775-7780    1
718-835-5749    1
Name: phone_number, Length: 994, dtype: int64

'--------------------------------------------------'

sgoodhallfz@mozilla.com        2
gshoard4v@example.com          2
cgertray6n@mapy.cz             2
acripin4u@loc.gov              2
lcarn7b@upenn.edu              2
                              ..
gyitzhakovau@craigslist.org    1
alipgens5a@goodreads.com       1
gmacconneely61@imgur.com       1
cmunneryl4@meetup.com          1
rsillisbb@nbcnews.com          1
Name: email_address, Length: 994, dtype: int64

'--------------------------------------------------'

Washington         35
New York City      27
El Paso            19
Houston            14
San Antonio        14
                   ..
Hollywood           1
Jersey City         1
North Hollywood     1
Youngstown          1
Newton              1
Name: city, Length: 299, dtype: int64

'--------------------------------------------------'

United States    1000
Name: country, dtype: int64

'--------------------------------------------------'

Texas                   98
California              97
Florida                 86
New York                69
District of Columbia    35
Ohio                    33
Colorado                33
Alabama                 30
Washington              28
Arizona                 26
Illinois                25
Pennsylvania            25
Virginia                24
Tennessee               23
Indiana                 23
Missouri                23
Connecticut             22
Louisiana               20
North Carolina          20
Georgia                 19
Michigan                17
Minnesota               17
Nevada                  17
Oklahoma                16
Maryland                15
Massachusetts           14
Kansas                  13
Iowa                    11
Alaska                  10
Utah                    10
West Virginia           10
New Jersey               9
South Carolina           9
Kentucky                 8
Wisconsin                8
Nebraska                 7
Oregon                   7
Idaho                    7
Delaware                 6
Hawaii                   6
Arkansas                 6
New Mexico               5
New Hampshire            3
Montana                  3
North Dakota             2
Mississippi              2
Vermont                  1
Wyoming                  1
Maine                    1
Name: state, dtype: int64

'--------------------------------------------------'

55189 Thackeray Parkway     2
6 Anthes Avenue             2
01044 Dayton Center         2
08365 Pepper Wood Center    2
93 Loomis Lane              2
                           ..
602 Lien Crossing           1
280 Del Mar Street          1
806 Fordem Terrace          1
3448 Merry Terrace          1
8521 Sundown Road           1
Name: customer_address, Length: 994, dtype: int64

'--------------------------------------------------'

2018-04-04    25
2018-04-06    24
2018-04-05    24
2018-11-10    18
2018-11-11    17
              ..
2018-08-15     1
2018-06-06     1
2018-08-17     1
2018-05-28     1
2018-08-22     1
Name: order_date, Length: 222, dtype: int64

'--------------------------------------------------'

10237-833     1
40085-215     1
67938-0942    1
50268-453     1
55154-3226    1
             ..
51444-002     1
58790-301     1
59746-216     1
60760-687     1
51393-6778    1
Name: order_id, Length: 1000, dtype: int64

'--------------------------------------------------'

2018-05-05    22
2018-04-05    18
2019-12-09    15
2018-05-03    14
2018-05-31    12
              ..
2018-09-26     1
2018-03-18     1
2018-09-21     1
2018-04-22     1
2018-03-05     1
Name: ship_date, Length: 270, dtype: int64

'--------------------------------------------------'

Second Class      254
Standard Class    253
First Class       250
Same Day          243
Name: ship_mode, dtype: int64

'--------------------------------------------------'

Air      509
Truck    491
Name: shipping, dtype: int64

'--------------------------------------------------'

35905    4
6160     4
89105    4
14269    4
92505    4
        ..
32610    1
99210    1
11431    1
93407    1
35815    1
Name: postal_code, Length: 774, dtype: int64

'--------------------------------------------------'

jcb                          424
mastercard                    80
maestro                       64
visa-electron                 49
americanexpress               49
diners-club-carte-blanche     49
diners-club-enroute           48
china-unionpay                46
bankcard                      44
switch                        43
visa                          36
laser                         26
instapayment                  16
diners-club-us-ca             13
solo                           8
diners-club-international      5
Name: credit_card_type, dtype: int64

'--------------------------------------------------'

1860000000000000.00    8
2820000000000000.00    8
2140000000000000.00    8
4660000000000000.00    7
2390000000000000.00    7
                      ..
1900000000000000.00    1
4930000000000000.00    1
1530000000000000.00    1
2490000000000000.00    1
4940000000000000.00    1
Name: credit_card_number, Length: 350, dtype: int64

'--------------------------------------------------'

Very Good    226
Good         215
Okay         202
Bad          182
Very Bad     175
Name: customer_feedback, dtype: int64

'--------------------------------------------------'

1    310
2    262
3    229
4    199
Name: quarter_number, dtype: int64

'--------------------------------------------------'

In [26]:
# print true or false for features with missing values
print(df.isnull().any())
# print the numeric total of all missing values
print("\n")
print("Number of total missing values: ", df.isnull().sum().sum())

shipper_id                 False
shipper_name               False
shipper_contact_details    False
product_id                 False
vehicle_maker              False
vehicle_model              False
vehicle_color              False
vehicle_model_year         False
vehicle_price              False
quantity                   False
discount                   False
customer_id                False
customer_name              False
gender                     False
job_title                  False
phone_number               False
email_address              False
city                       False
country                    False
state                      False
customer_address           False
order_date                 False
order_id                   False
ship_date                  False
ship_mode                  False
shipping                   False
postal_code                False
credit_card_type           False
credit_card_number         False
customer_feedback          False
quarter_number             False
dtype: bool


Number of total missing values:  0

In [27]:
df.head()

,shipper_id,shipper_name,shipper_contact_details,product_id,vehicle_maker,vehicle_model,vehicle_color,vehicle_model_year,vehicle_price,quantity,discount,customer_id,customer_name,gender,job_title,phone_number,email_address,city,country,state,customer_address,order_date,order_id,ship_date,ship_mode,shipping,postal_code,credit_card_type,credit_card_number,customer_feedback,quarter_number
0,1617,Feedmix,125-29-5865,4383,Jaguar,XJ Series,Indigo,2003,92186.18,1,0.60,55154-1385,Reece Pummell,Male,Design Engineer,864-849-1464,rpummelllf@hhs.gov,Greenville,United States,South Carolina,056 High Crossing Lane,2018-01-01,10237-833,2018-03-04,First Class,Air,29615,jcb,4780000000000000.00,Bad,1
1,3199,Oyoloo,850-05-1383,3513,Mercury,Monterey,Orange,2006,71183.23,2,0.69,52125-774,Jilleen Bennit,Female,Junior Executive,502-107-6172,jbennitpg@abc.net.au,Louisville,United States,Kentucky,3 Hagan Point,2018-01-01,22700-134,2018-01-26,Same Day,Truck,40256,maestro,2990000000000000.00,Very Good,1
2,1046,Oozz,684-23-0409,4520,Toyota,Land Cruiser,Fuscia,2011,82108.12,1,0.56,10157-9875,Bernadene Lorkings,Female,Administrative Officer,561-927-9650,blorkings6q@e-recht24.de,Delray Beach,United States,Florida,72 Becker Center,2018-01-01,39822-4200,2018-05-01,Second Class,Air,33448,diners-club-international,3810000000000000.00,Okay,1
3,3532,Thoughtbeat,825-86-8630,3616,Mitsubishi,Lancer,Blue,2004,96497.56,2,0.68,46123-039,Dominick Holdforth,Male,Engineer IV,410-617-9937,dholdforth96@auda.org.au,Baltimore,United States,Maryland,5 Prairie Rose Center,2018-01-01,49349-206,2018-04-03,Same Day,Air,21203,jcb,1330000000000000.00,Good,1
4,3047,Mydeo,128-94-2595,4700,Nissan,NX,Purple,1992,96090.34,1,0.66,40042-050,Vergil Grafton-Herbert,Male,Mechanical Systems Engineer,402-582-1673,vgraftonherberthn@sun.com,Omaha,United States,Nebraska,9152 Fisk Court,2018-01-01,51389-255,2018-02-18,Same Day,Air,68134,jcb,3560000000000000.00,Good,1

In [44]:
is_duplicate_name = df["customer_id"].duplicated()
duplicated_name.value_counts()

False    994
True       6
Name: customer_name, dtype: int64

In [45]:
df.index[is_duplicate_name == True].tolist()

[449, 483, 611, 848, 884, 921]

In [46]:
is_duplicate_name.iloc[449]

True

In [47]:
six_duplicates = df.loc[is_duplicate_name == True]
six_duplicates

,shipper_id,shipper_name,shipper_contact_details,product_id,vehicle_maker,vehicle_model,vehicle_color,vehicle_model_year,vehicle_price,quantity,discount,customer_id,customer_name,gender,job_title,phone_number,email_address,city,country,state,customer_address,order_date,order_id,ship_date,ship_mode,shipping,postal_code,credit_card_type,credit_card_number,customer_feedback,quarter_number
449,2952,Oyoyo,492-33-7581,4890,Mitsubishi,Excel,Teal,1989,84029.52,1,0.51,47593-359,Laurette Carn,Female,Developer IV,334-396-2155,lcarn7b@upenn.edu,Montgomery,United States,Alabama,93 Loomis Lane,2018-05-29,63146-103,2018-06-27,Standard Class,Air,36177,visa-electron,3020000000000000.00,Good,2
483,2213,Innojam,188-55-0225,3889,Mercedes-Benz,SL-Class,Turquoise,2009,95753.09,2,0.63,49693-1801,Barbee Cathel,Female,Chemical Engineer,812-935-0173,bcathelk@paginegialle.it,Bloomington,United States,Indiana,618 Bunting Court,2018-06-14,28107-003,2018-07-19,Second Class,Air,47405,china-unionpay,3670000000000000.00,Bad,2
611,3810,Brainlounge,367-08-2475,4193,Suzuki,X-90,Mauv,1998,97848.78,1,0.65,76237-153,Cindy Gertray,Female,Recruiter,404-979-2302,cgertray6n@mapy.cz,Atlanta,United States,Georgia,01044 Dayton Center,2018-07-15,68382-022,2018-08-19,Second Class,Air,30343,maestro,2130000000000000.00,Very Good,3
848,2730,Babblestorm,470-73-7676,4371,Toyota,Tacoma,Goldenrod,2001,76320.59,2,0.66,43269-780,Armstrong Cripin,Male,Chemical Engineer,574-485-6534,acripin4u@loc.gov,South Bend,United States,Indiana,08365 Pepper Wood Center,2018-10-18,49999-885,2019-05-22,Standard Class,Air,46620,jcb,3510000000000000.00,Very Bad,4
884,1718,Meezzy,409-44-1664,4214,Ford,Aerostar,Red,1997,73071.88,2,0.58,36987-3061,Standford Goodhall,Male,Software Consultant,240-408-7636,sgoodhallfz@mozilla.com,Silver Spring,United States,Maryland,55189 Thackeray Parkway,2018-10-31,0013-2651,2019-05-06,First Class,Air,20904,diners-club-carte-blanche,4990000000000000.00,Okay,4
921,3331,Twitterworks,135-09-6171,4360,Mercedes-Benz,SL-Class,Yellow,2011,82328.01,1,0.71,53603-1006,Gonzales Shoard,Male,Community Outreach Specialist,915-824-4121,gshoard4v@example.com,El Paso,United States,Texas,6 Anthes Avenue,2018-11-14,68788-0686,2019-06-19,Standard Class,Truck,88558,mastercard,2390000000000000.00,Very Bad,4

In [48]:
six_duplicates["customer_name"]

449         Laurette Carn
483         Barbee Cathel
611         Cindy Gertray
848      Armstrong Cripin
884    Standford Goodhall
921       Gonzales Shoard
Name: customer_name, dtype: object

In [54]:
# Describe Continuous Numeric Features

describeContinuous = set(df.columns) - {
    "shipper_id",
    "shipper_name",
    "shipper_contact_details",
    "product_id",
    "vehicle_maker",
    "vehicle_model",
    "vehicle_color",
    "vehicle_model_year",
    "customer_id",
    "customer_name",
    "gender",
    "job_title",
    "phone_number",
    "email_address",
    "city",
    "country",
    "state",
    "customer_address",
    "order_date",
    "order_id",
    "ship_date",
    "ship_mode",
    "shipping",
    "postal_code",
    "credit_card_type",
    "credit_card_number",
    "customer_feedback",
    "quarter_number",
}
df1 = df[list(describeContinuous)]
df1.describe().round(2)

       vehicle_price  discount  quantity
count        1000.00   1000.00   1000.00
mean        83115.00      0.61      1.51
std          9285.09      0.09      0.50
min         63033.78      0.40      1.00
25%         75364.64      0.54      1.00
50%         83039.26      0.62      2.00
75%         90623.71      0.69      2.00
max         99931.57      0.80      2.00